:root {
    font-size: 10px;
}
.SortVisualizer {
    width: 100vw;
    height: 100vh;
}
/*
.SortVisualizer * {
    transition: all 0.3s ease-in 0s;
} */
.light-mode {
    background-color: #e6e9f0 0%;
    transition: all 0.3s ease-in 0s;
}
.dark-mode {
    background-color: #18191a;
    transition: all 0.3s ease-in 0s;
}
header {
    height: 60px;
    display: flex;
    justify-content: center;
}
select {
    text-align-last: center;
}
.nav-item {
    height: 30px;
    width: 65px;
    margin: 30px 4px 0px;
    border: 0;
    font-size: 1rem;
}
.nav-item:hover {
    cursor: pointer;
    border-radius: 10px;
}
.light-mode .nav-item {
    background-color: white;
    box-shadow: 0 5px 20px #454545;
    color: #3a3b3c;
}
.dark-mode .nav-item {
    background-color: #4d4d4d;
    color: white;
}
.light-mode .nav-item:hover {
    background: #4b535a;
    color: #fff;
    transition: all 0.15s ease-in 0s;
}
.dark-mode .nav-item:hover {
    background: #93979b;
    color: #000;
    transition: all 0.15s ease-in 0s;
}
.nav-item:focus {
    outline: 0;
}
.visualizer-container {
    min-height: 300px;
    height: calc(100vh - 100px);
    box-shadow: 0 5px 20px #454545;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.light-mode .visualizer-container {
    background: white;
}
.dark-mode .visualizer-container {
    background: #242526;
}
.array-bar {
    flex: 1;
    min-width: 1px;
    margin-left: 1px;
    background: #a74f53;
    border-radius: 20px 20px 0 0;
}
.active-array-bar {
    background: green;
}

/*-----------------STYLE FROM:-----------------*/
/*      https://proto.io/freebies/onoff/       */
/*---------------------------------------------*/
.onoffswitch {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #757575;
    border-radius: 0px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 15px;
    padding: 0;
    line-height: 15px;
    font-size: 0.8rem;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #4d4d4d;
    color: #e6e6e6;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #eeeeee;
    color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 8px;
    margin: 6px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    border: 2px solid #757575;
    border-radius: 0px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

@media only screen and (min-width: 450px) {
    .nav-item {
        height: 30px;
        width: 90px;
        font-size: 1rem;
    }
    .visualizer-container {
        margin: 20px;
    }
}
@media only screen and (min-width: 700px) {
    .nav-item {
        height: 3.5rem;
        width: 12rem;
        margin: 20px 4px 0px;
        font-size: 1.5rem;
    }
    .onoffswitch {
        top: 0.5rem;
        right: 0.5rem;
        width: 6rem;
    }
    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.2rem;
    }
    .onoffswitch-switch {
        width: 1.2rem;
        margin: 0.7rem;
        right: 3.5rem;
    }
}
@media only screen and (min-width: 1000px) {
    .nav-item {
        height: 4rem;
        width: 20rem;
        font-size: 1.7rem;
    }
    .onoffswitch {
        top: 1rem;
        right: 1rem;
        width: 7rem;
    }
    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.2rem;
    }
    .onoffswitch-switch {
        width: 1.2rem;
        margin: 0.7rem;
        right: 4.5rem;
    }
}

@media only screen and (min-width: 1600px) {
    .nav-item {
        height: 4rem;
        width: 30rem;
        font-size: 2rem;
    }
    .onoffswitch {
        top: 1.5rem;
        right: 1.5rem;
        width: 9rem;
    }
    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;
    }
    .onoffswitch-switch {
        width: 1.5rem;
        margin: 1rem;
        right: 5.5rem;
    }
}
